% The next option is required so we can use lager.
{erl_opts, [
	{parse_transform, lager_transform},
	{src_dirs, ["src", "test"]},
	{lib_dirs, ["deps"]}
]}.
{lib_dirs,["deps"]}.
% Our dependencies.
{deps, [
	{'lager', ".*", {
		git, "git://github.com/basho/lager.git", {tag, "2.0.0rc1"}}
	},
	{'cowboy', ".*", {
		git, "git://github.com/extend/cowboy.git", {tag, "0.8.3"}}
	},
  {'etest', ".*", {
    git, "git://github.com/wooga/etest.git", "master"}
  },
	{jsx, ".*", {
		git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}
	}
]}.
