% The next option is required so we can use lager.
{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs,["deps"]}.
% Our dependencies.
{deps, [
	{'cowboy', ".*", {
		git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}
	},
	{'lager', ".*", {
		git, "git://github.com/basho/lager.git", "master"}
	},
%% 	{json, ".*",
%% 		{git, "git://github.com/hio/erlang-json.git", "master"}}
	{jsx, ".*",
		{git, "git://github.com/talentdeficit/jsx.git", "master"}}
]}.
