[
	{hackman_server,[
		{log_level, debug},
		{server_port, 10100},
		{start_listeners, 5},
		{game_setup, [
			{<<"0">>, [
				{match_duration, 5000},
				{match_pause, 1000},
				{map_file, "priv/level0.json" },
				{match_ai, [
					{0, [
						{ai_module, ct_ai_ghost},
						{player_id, <<"GhostAI0">>},
						{params, []}
					]},
					{1, [
						{ai_module, ct_ai_ghost},
						{player_id, <<"GhostAI1">>},
						{params, []}
					]},
					{2, [
						{ai_module, ct_ai_ghost},
						{player_id, <<"GhostAI2">>},
						{params, []}
					]}
				]}
			]}
		]}
	]},
	{lager, [
		{colored, true}
	]}
].